

.audioTrack{
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}

/* QuraanEKareem page work */

/* On screens that are 375px or less, set the margin left */
/* @media screen and (max-width: 375px) {
    .mediaScreen {
      margin-left: 17% ;
      margin-right: 1% !important;
    }
  } */
/* On screens that are 415px or less, set the margin left */
/* @media screen and (max-width: 415px) {
    .mediaScreen {
      margin-left: 15% ;
      margin-right: 1% !important;
    }
  }
 */

/* without mediaScreen  */

/* .mediaScreen{
    max-width: 900px ;
    min-width: 600px;
} */